
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Bebas Neue";
  src: local(''), url('../public/assets/fonts/BebasNeue-Regular.ttf')
}

