.scrolling-image-container {
  overflow: hidden;
}

.scrolling-image {
  background: url("../../images/logos.png") repeat-x;
  width: 9102px;
  /* 3,034.14 */
  animation: slide 10s linear infinite;
  object-fit: contain;
  
  background-size: contain;
  height: 100px;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-3034px, 0, 0); /* The image width */
  }
}
/* https://css-tricks.com/books/fundamental-css-tactics/infinite-scrolling-background-image/ */